%h1 Abstracts

%p 
  The abstracts of all presentations presented on Xth Winter Biophysical Workshop will be published in a special edition of Current Topics in Biophysics
  = link  '(CTB webpage,', 'https://www.degruyter.com/view/j/ctb'
  = link 'archival issue)', 'http://www.staff.amu.edu.pl/~ctbo/launch.html'

%p
  The template file of abstract can be foud here:
  = link '(abstract template)', 'http://www.staff.amu.edu.pl/~zbm/CTB-Abstracts-template.rtf'

%p 
  The abstract can be sent directly to prof. Andrzej Dobek 
  = link '(Editor)', 'mailto:dobek@amu.edu.pl'
  or to Ewa Banachowicz 
  = link '(Ewa Banachowicz)', 'mailto:ewas@amu.edu.pl'

%p We strongly encourage all participants to publish a regular paper in Current Topics in Biophysics.
