%h1 Welcome to the Workshops

%p 
  We are pleased to announce that the Xth Winter Biophysical Workshop organized by the Molecular Biophysics Division of Adam Mickiewicz University will be held on 
  %b 05-08 February 2018
  in
  %b Gułtowy
  (Greater Poland Voivodeship).

%p The Winter Biophysical Workshop is organized continuously over ten years since 2007. The main aim of the Workshop is the integration of the interdisciplinary groups working in Biophysics. For the young scientists at the beginning of their career as well as for PhD studentds and undergraduates there is an excellent opportunity to gain knowledge from more experienced collegues and to present their own achievements in a friendly and inspiring atmosphere. The discussions accompanying the lectures support the exchange of experiences, favoir the establishing cooperation between groups and very often they are a begining of a new joint research project.

%p The Xth Winter Biophysical Workshop will be organized in cooperation with Adam Mickiewicz University in Poznan, Poland 

%h2 Our sponsors

= img 'LogoUAM.jpg'
= img 'LogoWF.jpg'
= img 'AntonPaarLogo2.jpg'
= img 'EurotekIntLogo.jpg'
= img 'LogoZeiss.jpg'
